@import url("https://fonts.googleapis.com/css?family=Roboto");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

body {
  background-color: #2d2d37;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: white;
  font-family: "Roboto", sans-serif;
}

.App {
  font-family: sans-serif;
  justify-content: center;
  text-align: center;
  padding: 0 3rem;
  max-width: 80%vw;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 3rem;
}

h1 {
  text-align: left;
}
.form-container {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}
.list-container {
    display: flex;
    flex-direction: column;
}
.to-do-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.item {
  background-color: #1b57d8;
  width: 45%;
  text-align: left;
  border-radius: .5rem;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
}

.item.completed {
  background-color: #2522c7;
  text-decoration: line-through;
}

form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

form > input {
  background-color: #2d2d37;
  border: none;
  padding: 6px 0;
  font-size: 1.2rem;
  width: 240px;
  outline: 0;
  color: white;
  border-bottom: 1px solid #f3cb1a;
  border-width: .15rem;
  margin-right: 8px;
}

button {
  background-color: #6e9cf1;
  border: none;
  color: white;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: .3rem;
  cursor: pointer;
}

input::placeholder {
  color: #f3cb1a;
  opacity: 1;
}

.clear-btn {
  background-color: #6d6d82;
  margin-top: 16px;
  font-size: 0.8rem;
}

div > p {
    font-size: 1.3rem;
}